<!-- Site Header -->
<div class="site-header">
    <div class="header-logo">
        <a href="index.html"><img src="temp-files/assets/img/kristen-bird.png" alt="Kristen Maeve Gallagher"></a>
    </div>
    <div class="header-menu">
        <nav>
            <ul>
                    <li class="sub"><a href="index.html">HOME</a>
                        <ul>
                            <li><a href="about-2.html">ABOUT</a></li>
                        </ul>
                    </li>
                    <li class="sub"><a href="#">THINGS</a>
                        <ul>
                            <li><a href="projects-1-grid-art.html">SCULPTURE</a></li>
                            <li><a href="projects-1-grid-work.html">WORK</a></li>
                            <li><a href="projects-1-grid-ideas.html">IDEAS</a></li>
                            <li><a href="blog-1.html">WRITING</a></li>
                        </ul>
                    </li>
                    <li class="sub"><a href="contact-1.html">CONTACT</a>
                    </li>
            </ul>
        </nav>
    </div>
    <div class="header-toggle">
        <i class="fa fa-bars"></i>
    </div>
</div>
<!-- Site Header End -->