<!DOCTYPE html>
<html lang="en-US">
<head>

  <!-- Basic Page Head -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Kristen Maeve Gallagher</title>
  <meta name="description" content="Personal Site">
  <meta name="author" content="Personal Site">
  <meta name="keywords" content="artist, thinker, systems, orgdev, education, sculpture">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/x-icon" href="temp-files/assets/img/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/apple-touch-icon-144x144-precomposed.png">

  <!-- Css -->
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/font.awesome.min.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/magnific.popup.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/owl.theme.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="temp-files/assets/css/responsive.css">

  <!-- Google Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>
